
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #333;
}


.divForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 40%;
}

select{
    height: 30px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}


input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    background-color: #15a82e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.exibirValor {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 40%;
}
